// 此變數為框架之整體變數，控制整體網站之設定，包含 顏色、文字、格線系統
// 於mixins 資料夾內，各個模組也有其個別使用的變數，請至個別檔案設定，個別使用變數不含在此設定

$colorStyle: '.colorStyleA', '.colorStyleB';
$mainColor: #32307c, #77170e;
$secColor: #30c9cd, #cf402c;
$thirdColor: #330d69, #73140d;
$fourthColor: #32307c, #313131;
$dlColor: #157efb, #77170e;
$aTagColor: #32307c, #ab274a;
$aTagHover: lighten(nth($aTagColor, 1), 0), lighten(nth($aTagColor, 2), 0);
$aTagFocus: lighten(nth($aTagColor, 1), 0), lighten(nth($aTagColor, 2), 0);
$focusNew: red, green;
// $color: #049160, #751829;
//---------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
$primaryColor: #049160; //主色
$secondaryColor: #3c3d82; //輔色
$lightColor: #fec003; //點綴
$linkColor: #0066cc; //連結
$importantColor: #eb0202; //重要
// 但注意真實顏色與語意的關聯必須易於辨識
$color-blue: #0066cc;
$color-green: #298729;
$color-orange: #ff5001;
$color-red: #d30000;
$color-yellow: #fec003;
$color-purple: #781f79;
$color-gray: #ccc;
$color-dark: #333333;
$color-hr: #666; //hr顏色
$color-word: #313131; //一般字的顏色
$btn-word: #222; //按鈕字的顏色
// 連結顏色
$aColor: #000;
$aHover: #159ba0;
$aFocus: #159ba0;
// 表單focus顏色
$form-focus: #0066cc; //表單
$form-btn: #0066cc; //表單

$downloadColor: #157efb; //下載icon
//------------------------------------------------------字型--------//
