.category {
  @extend %clearfix;
  text-align: left;
  margin: 1em auto;
  ul {
    @include li-reset;
    li {
      margin: 0px 3px 3px 0px;
      display: block;
      float: left;
    }
  }
  a {
    border: 1px solid #ccc;
    padding: 0.4em 1em;
    display: block;
    color: #333;
    box-sizing: border-box;
    border-radius: 4px;
    &:hover,
    &:focus {
      color: #fff;
      background: darken($aColor, 15);
      border: 1px solid darken($aColor, 15);
      box-shadow: none;
    }
    &.active {
      color: #fff;
      @include gradient(darken($aColor, 0), darken($aColor, 15), vertical);
    }
    span {
      font-size: 0.813em;
      &:before {
        content: '(';
        display: inline-block;
      }
      &:after {
        content: ')';
        display: inline-block;
      }
    }
  }
}
