//mp2 mp3 首頁中間搜尋功能
.searchBlock {
  position: relative;
  z-index: 9;
  max-width: 1200px;
  margin: 0 auto;
  .container {
    background: $primaryColor;
    padding: 2.5% 20px;
    .list {
      flex-grow: 1;
      margin-bottom: 10px;
      // min-width: 187px;
      @include screen('mobile') {
        width: 100% !important;
      }
      & + .list {
        margin-left: 5px;
        @include screen('mobile') {
          margin: 10px 0 0 0;
        }
      }
    }
  }
  form.indexSearch {
    max-width: 970px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    @include screen('mobile') {
      flex-direction: column;
      align-items: center;
    }
  }
  .label {
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 15px;
    @include screen('mobile') {
      padding-left: 0px;
    }
  }
  .inputBox {
    color: #fff;
    display: flex;
    align-items: center;
    @include screen('xs_mobile') {
      flex-direction: column;
    }
  }
  select,
  input {
    width: 100%;
    height: 42px;
    font-size: 1em;
    color: #808080;
    margin: 0 5px;
    border: #c9c9c9 1px solid !important;
    // background: #fff url('../images/icon02.png') no-repeat;
    background-position: calc(100% - 15px) center;
    // padding: 8px 45px 8px 15px;

    padding: 8px 15px 8px 15px;
    & + input {
      margin-left: 5px;
      @include screen('xs_mobile') {
        margin: 5px 0 0 0;
      }
    }
    &::placeholder {
      color: #808080;
    }
  }
  .searchBox {
    input.inputType {
      padding: 8px 8px 8px 45px;
      background: #fff url('../images/icon01.png') no-repeat;
      background-position: 15px center;
    }
  }
  .departmentBox {
    select {
      font-size: 1em;
      color: #fff;
      margin: 0;
      padding: 8px 8px 8px 15px;
      border-color: #fff;
      height: 42px;
      border-radius: 0px;
      background: url('../images/select_arrow.svg') no-repeat;
      background-size: 10px;
      background-position: right center;
      background-color: none;
      border-width: 0 0 1px 0;
      @include screen('xs_mobile') {
        margin-bottom: 10px;
      }
      option {
        color: #000;
      }
    }
  }

  .searchBtnBox {
    margin: 0 0 10px auto;
  }
  .searchBtn {
    background: $aColor;
    border: none;
    border-radius: 50px;
    color: #fff;
    white-space: nowrap;
    margin: 0 0 0 10px;
    padding: 0 15px;
    letter-spacing: 10px;
    font-weight: 500;
    text-indent: 10px;
    height: 42px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    flex-shrink: 0;
    @include screen('mobile') {
      min-width: 150px;
    }
    @include screen('xs_mobile') {
      margin: 0;
    }
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: $secondaryColor;
      transition: 0.3s $cubic;
    }
    &:hover {
      &:before {
        width: 100%;
        left: 0;
      }
    }
  }
  // #selectDepartment {
  //   border-width: 0px 0px 1px !important;
  // }
  .dateSelectBox {
    flex-grow: 1.5 !important;
  }
  .departmentBox {
    select {
      border-width: 0 0 1px 0 !important;
    }
  }
}

//mp1
.procedureBlock {
  padding: 7% 20px 4.5%;
  @include screen('tablet') {
    padding: 12% 20px 4.5%;
  }
  @media screen and (max-width: 830px) {
    padding: 12% 20px 30%;
  }
  @include screen('mobile') {
    padding: 140px 20px 170px;
  }
  .procedure {
    max-width: 1030px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    @include screen('mobile') {
      flex-direction: column;
    }
  }
  .item {
    width: calc((100% - 220px) / 3);
    position: relative;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: #{0.2 * $i + 0}s;
      }
    }
    @include screen('mobile') {
      width: auto;
    }
    + .item {
      &::before {
        content: '';
        width: 39px;
        height: 73px;
        display: block;
        position: absolute;
        right: 110%;
        top: 50%;
        transform: translateY(-50%);
        background: url('../images/index/styleA_procedure_arrow.svg') no-repeat;
        @include screen('mobile') {
          right: auto;
          left: 50%;
          top: -80px;
          transform: translate(-50%, 0) rotate(90deg);
        }
      }
    }
    &:nth-child(2) {
      margin: 0 11%;
      @include screen('mobile') {
        margin: 85px 0;
      }
      .box {
        background: #1b2865;
        background: -moz-linear-gradient(30deg, #1b2865 40%, #c6461a 100%);
        background: -webkit-linear-gradient(30deg, #1b2865 40%, #c6461a 100%);
        background: linear-gradient(30deg, #1b2865 40%, #c6461a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2865', endColorstr='#c6461a',GradientType=1 );
        .title {
          color: #fff;
        }
      }
    }
    .box {
      width: 100%;
      max-width: 270px;
      max-height: 270px;
      padding: 23% 30px;
      border-radius: 5px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      transition: 0.3s $cubic;
      @include screen('mobile') {
        padding: 10% 20px;
        margin: 0 auto;
        max-height: none;
      }
      .icon {
        max-width: 98px;
        margin: 0 auto 8%;
        display: none;
      }
      .title {
        font-weight: 700;
        color: 313131;
        font-size: 1.3rem;
        text-align: center;
        letter-spacing: 2px;
        @media screen and (max-width: 1100px) {
          font-size: 1.1rem;
        }
        @include screen('tablet') {
          max-width: 100px;
          margin: 0 auto;
        }
        @include screen('mobile') {
          max-width: none;
          margin: 0 auto;
          font-size: 1.4rem;
        }
      }
      &:hover {
        transform: translate(-10px, -10px);
      }
    }
  }
}

//mapBlock
.mapInfoBlock {
  padding: 5% 40px;
  @include screen('xs_mobile') {
    padding: 100px 40px 90px;
  }
  .container {
    display: flex;
    max-width: 830px;
    justify-content: space-between;
    margin: 0 auto;
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
  .map {
    max-width: 340px;
    @media screen and (max-width: 800px) {
      max-width: none;
      margin-bottom: 30px;
    }
    iframe {
      width: 100%;
    }
  }
  .txtBox {
    max-width: 450px;
    padding: 5% 0 0 20px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 800px) {
      margin: 0 auto;
      padding: 5% 0 0 0px;
    }
    .title {
      font-family: $ff-noto-serif;
      font-size: 1.75rem;
      line-height: 1.4;
      font-weight: 500;
      margin-bottom: 5%;
      text-align: center;
      @include screen('xs_mobile') {
        font-size: 1.3rem;
      }
    }
    .txt {
      font-size: 1em;
      margin-bottom: 11%;
    }
    .picBox {
      display: flex;
      justify-content: space-between;
      margin: 0 -10px 30px;
      @media screen and (max-width: 800px) {
        order: 5;
        margin: 0 -10px 0px;
      }
      @include screen('xs_mobile') {
        margin: 0 -50px 0px -10px;
      }
      .pic {
        margin: 0 10px;
        line-height: 0;
      }
    }
    .linkBtn {
      max-width: 150px;
      color: $color-word;
      display: flex;
      align-items: center;
      font-size: 1.12rem;
      position: relative;
      margin: auto 0 0 auto;
      @media screen and (max-width: 800px) {
        order: 4;
        margin: auto 0 50px auto;
      }
      @include screen('xs_mobile') {
        margin: auto 0 50px auto;
      }
      &::after {
        content: '';
        width: 46px;
        height: 46px;
        background: url('../images/index/reserve_arrow.svg') center no-repeat;
        background-color: #d94912;
        background-size: 40%;
        border-radius: 100%;
        margin-left: 10px;
      }
    }
  }
}

//mp2 linkBlock
.linkBlock {
  padding: 0 20px;
  margin-bottom: 10%;
  .container {
    max-width: 980px;
    margin: 0 auto;
  }
  .titleBox {
    max-width: 220px;
    white-space: nowrap;
    margin: 0 0 5% 0;
    @include screen('mobile') {
      max-width: 175px;
    }
    &::before {
      left: 100%;
    }
  }
  .link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include screen('xs_mobile') {
      max-width: 239px;
      margin: 0 auto;
    }
    .item {
      max-width: 239px;
      width: calc((100% - 15px) / 4);
      @include screen('mobile') {
        width: calc((100% - 5px) / 2);
      }
      @include screen('xs_mobile') {
        width: 100%;
        max-width: 239px;
        margin: 0 auto 10px;
      }
      a {
        display: block;
        line-height: 0;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.4);
          z-index: 1;
          opacity: 0;
          transition: 0.3s $cubic;
        }
      }
      &:hover {
        a::before {
          opacity: 0 !important;
        }
      }
    }
    &:hover {
      .item {
        a::before {
          opacity: 1;
        }
      }
    }
  }
}

//mp3 table
table {
  th,
  td {
    &.nowrap {
      white-space: nowrap;
    }
  }
}
.infoListBlock {
  min-height: 200px;
  padding-bottom: 40px;
  .infoList {
    background: #fff;
    @include screen('tablet') {
      background: none;
    }

    table {
      margin-bottom: 40px;
    }
    th,
    td {
      border: none;
      background: none;
      text-align: center;
      padding: 10px;
      // &:nth-child(1) {
      //   min-width: 80px;
      // }
      &:nth-child(2) {
        white-space: nowrap;
        // min-width: 140px;
        text-align: left;
      }
      &:nth-child(3) {
        // width: calc((100% - 400px) * 0.4);
        text-align: left;
      }
      &:nth-child(4) {
        // width: calc((100% - 400px) * 0.6);
        text-align: left;
      }
      // &:nth-child(5) {
      //   min-width: 110px;
      // }
      // &.tableDownloadBtn {
      //   min-width: 70px;
      // }
    }
    thead {
      th {
        background: #000;
        color: #fff;
      }
    }
  }
  .downloadBtnBlock {
    a {
      font-size: 14px;
      padding: 3px 3px 1px;
      background: $downloadColor;
      line-height: 1;
      color: #fff;
      border-radius: 4px;
      white-space: nowrap;
      transition: 0.3s $cubic;
      & + a {
        margin-left: 5px;
      }
      &:nth-child(3n + 1) {
        margin-left: 0;
      }
      &:nth-child(n + 4) {
        margin-top: 5px;
      }
      &:focus,
      &:hover {
        color: #fff;
        transform: scale(1.4);
        opacity: 1 !important;
        z-index: 2;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
      }
      &:focus {
        box-shadow: 0 0 0 2px $secondaryColor;
      }
    }
    &:hover {
      a {
        opacity: 0.5;
      }
    }
  }
}

//mp3 table
.tableList {
  table {
    thead {
      margin: 0;
      text-align: center;
      @include screen('tablet') {
        display: none;
      }
      tr {
        border: none;
      }
      th {
        border: none;
        font-size: 17px;
        font-weight: normal;
        padding: 15px 5px;
        text-align: center;
      }
    }
    tr {
      background: #fff;
      border-bottom: #c3c3c3 1px solid;
      @include screen('tablet') {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
        border: #d3d3d3 1px solid;
      }
    }
    td {
      padding: 15px 10px;
      font-size: 16px;
      font-family: $ff-urbanist;
      @include screen('tablet') {
        padding: 15px;
        display: flex;
        width: auto !important;
        max-width: none !important;
        border-bottom: #e3e3e3 1px solid !important;
        &:before {
          content: attr(data-title);
          top: 0.5em;
          left: 0.5em;
          min-width: 100px;
          margin-right: 15px;
          padding-right: 10px;
          white-space: nowrap;
          text-align: left;
          color: #000;
          border-right: 1px solid #ddd;
        }
      }
      &:nth-child(3) {
        white-space: nowrap;
      }
      &:nth-child(4) {
        padding: 0;
        a {
          padding: 15px 10px;
        }
      }
    }
  }
  a {
    display: block;
    color: #000;
    &:hover {
      color: $aHover;
    }
  }
}
