@page {
  margin: 1cm; /*print邊界*/
}
@media print {
  %no-bg {
    background: none;
  }
  /* -------------------------------不需要列印的區塊，請放置於這----//*/
  header,
  .fatfooter,
  footer,
  .accesskey,
  .submenu,
  .breadcrumb,
  .category {
    display: none;
  }
  /* -------------------------------各別顯示設定----//*/
  body {
    background: transparent;
    // font-size: 12pt;
    float: none;
    width: 100%;
    @extend %no-bg;
    -webkit-print-color-adjust: exact;
  }
  .container {
    margin: 0px auto;
    max-width: 100% !important;
    width: 100% !important;
    @include gutter(0);
  }
  .cp {
    @include gutter(0);
  }
  .innerpage {
    margin-top: 0 !important;
    > .container {
      display: block !important;
      .center_block {
        overflow: hidden;
      }
      .left_block {
        float: left !important;
        width: 260px !important;
      }
    }
  }
  .main,
  .content {
    @include gutter(0);
    width: 100% !important;
    max-width: 100%;
    box-shadow: none;
    float: none;
    // font-size: 12pt;
    @include clearfix;
    @extend %no-bg;
    padding-top: 0px !important;
    img {
      &.float_left {
        float: right;
        max-width: 50%;
        margin: 0px 1em 1em 0;
      }
      &.float_right {
        float: right;
        max-width: 50%;
        margin: 0px 0 1em 1em;
      }
    }
    a:link,
    a:visited,
    a {
      background: transparent;
      color: #222;
      font-weight: bold;
      text-decoration: underline;
      text-align: left;
      word-wrap: break-word;
    }
    p {
      a {
        word-wrap: break-word;
      }
      a[href^='http']:after {
        content: ' (' attr(href) ')';
        font-size: 90%;
      }
      a[href^='#']:after {
        display: none;
      }
    }
    abbr[title]:after {
      content: ' (' attr(title) ')';
    }
    table {
      background: #fff;
    }
    li {
      content: '» ';
    }
  }
  /* 檔案下載*/
  .file_download {
    a {
      display: block !important;
      clear: both !important;
      width: 100% !important;
    }
    .update,
    .file_view {
      float: none !important;
      width: 30% !important;
      display: inline-block !important;
      margin-left: 3em;
    }
  }
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  thead {
    display: table-header-group;
    /* 表格即使分頁也會顯示表頭 */
  }
  .lightbox_slider {
    page-break-inside: avoid;
    overflow: hidden;
    height: 6cm;
    .cp_slider {
      text-align: center;
      .slick-slide {
        width: 30%;
        height: 4cm;
        display: inline-block;
        background: #dedede;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          box-shadow: 0px 0px 0px 1px #ccc;
        }
        img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 4cm;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
  //.no-print
  .innerBanner,
  .no-print {
    display: none;
  }
  .innerpage > .container {
    box-shadow: none;
  }
  .pagination {
    flex-direction: column;
    page-break-inside: avoid;
  }
  .listGrid .list > ul > li time,
  .listGrid .list ol > li time {
    font-size: 13px;
  }
  .listGrid .list > ul > li span.dept,
  .listGrid .list ol > li span.dept {
    color: #000 !important;
    padding: 2px 10px 3px 0;
  }
  .function_panel {
    padding: 0;
    margin: 0;
    .share {
      display: none;
    }
  }
  .cp blockquote {
    padding: 1em 2em;
  }
  .publications_cp .downloadBlock .downloadTitle a,
  .publications_cp .downloadBlock table th:nth-child(4),
  .publications_cp .downloadBlock table td:nth-child(4),
  .publications_cp .topBlock ul.download,
  .function_panel .publish_time:before,
  .infoListBlock .infoList th:nth-child(6),
  .infoListBlock .infoList td:nth-child(6),
  .file_download li span.file_doc a,
  .file_download li span.file_docx a,
  .file_download li span.file_odt a,
  .searchBlock,
  .icon_back,
  .tooltip,
  .tag {
    display: none;
  }
  .tableList table td {
    padding: 5px 5px;
  }
  .tableBlock .tableList > ul li {
    padding: 5px;
    line-height: 1.4;
  }
  .publications .list ul li ul.info li {
    margin-bottom: 0;
  }
  .listGrid .list > ul > li .info + .txt,
  .listGrid .list ol > li .info + .txt {
    margin-top: 5px;
  }
  .listGrid .list > ul > li > a,
  .listGrid .list ol > li > a {
    padding: 2px 0;
  }
  .publications_cp .topBlock {
    margin-bottom: 30px !important;
  }
  .publications .gridList > li {
    width: calc(100% / 2 - 20px) !important;
  }
  a {
    text-decoration: none !important;
  }
  .newsBlock .container {
    padding: 0 !important;
  }
  .mpSliderBlock {
    width: 100%;
  }
  .titleBox {
    margin-bottom: 30px;
    flex-direction: row;
    white-space: nowrap;
  }
  .titleBox .en,
  .titleBox .zh {
    font-size: 30px;
    margin: 0 10px;
  }
}
